<p id="notice"><%= notice %></p>

<h1>Certificate Applications</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Finished</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @certificate_applications.each do |certificate_application| %>
      <tr>
        <td><%= certificate_application.user_id %></td>
        <td><%= certificate_application.finished %></td>
        <td><%= link_to 'Show', certificate_application %></td>
        <td><%= link_to 'Edit', edit_certificate_application_path(certificate_application) %></td>
        <td><%= link_to 'Destroy', certificate_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Certificate Application', new_certificate_application_path %>
