<%= form_with(model: [host, certificate], local: true) do |form| %>
  <% if certificate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(certificate.errors.count, "error") %> prohibited this certificate from being saved:</h2>

      <ul>
        <% certificate.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :version %>
    <%= form.number_field :version %>
  </div>

  <div class="field">
    <%= form.label :certificate_key %>
    <%= form.text_area :certificate_key %>
  </div>

  <div class="field">
    <%= form.label :certificate_request %>
    <%= form.text_area :certificate_request %>
  </div>

  <div class="field">
    <%= form.label :certificate %>
    <%= form.text_area :certificate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
